@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --firstColor: #ff0066;
  --secondColor: #f6f6f6;
  --tercerColor: #000000;
}

[data-theme="dark"] {
  --secondColor: #000000;
  --tercerColor: #f6f6f6;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--tercerColor);
  color: var(--secondColor);
}

/* CAMBIAR COLORES */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--tercerColor);
  backdrop-filter: blur(10px);
  z-index: 10;
  border: 3px solid var(--firstColor);
  border-radius: 50px;
}

.theme-switch-wrapper {
  width: 50%;
  height: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: fixed;
  left: -30px;
  z-index: 11;
}

.theme-switch {
  display: block;
  height: 34px;
  position: relative;
  width: 60px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: white;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  transition: 0.4s all;
}

.slider:before {
  background-color: #ff0066;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s all;
  width: 26px;
}

input:checked+.slider {
  background-color: #ff0066;
}

input:checked+.slider:before {
  background-color: white;
  transform: translateX(26px);
}

.slider.round {
  border-radius: 50px;
}

.slider.round::before {
  border-radius: 50px;
}

.name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 4rem;
  width: 60%;
}

.nameUp {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.colorName {
  color: var(--firstColor);
}


/* CONTENEDOR GLOBAL */
.boxContendAll {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

/* Barra de navegacion fijada en la parte inferior */

.boxNav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  z-index: 10;
}


.navBar {
  width: max-content;
  border: 4px solid var(--secondColor);
  border-radius: 50px;
  background-color: #000000;
}

.navBar ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  list-style: none;
  padding: 10px;
  gap: 10px;
}

.navBar ul li {
  padding: 10px;
  border-radius: 60px;
  transition: all 0.7s;
}

.navBar ul li:hover {
  background-color: #ff0066;
}

.navBar * a {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
}

/* CONTENIDO */
.firstView {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.iconScroll {
  transform: rotate(270deg);
  background-color: var(--secondColor);
  border-radius: 50px;
}

/* Sobre mi */
.sobreMi {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}

.name2 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 0 2rem;
}

.cargo {
  color: var(--firstColor);
  font-size: 1.7rem;
}

.description {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  width: 60%;
  height: auto;
}

.techIcon {
  color: #ff0066;
}

.boxSkills {
  height: auto;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.boxSkills span {
  width: 20%;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s linear;
}

.boxSkills span:hover {
  /* transform: rotate(360deg); */
  transform: scale(1.15);
}

.csharp {
  color: purple;
  font-weight: bold;
  border: 2px solid purple;
  border-radius: 50px;
  background-color: var(--tercerColor);
}

.git {
  color: tomato;
  font-weight: bold;
  border: 2px solid tomato;
  border-radius: 50px;
  background-color: var(--tercerColor);
}

.github {
  font-weight: bold;
  border: 2px solid var(--secondColor);
  color: var(--secondColor);
  border-radius: 50px;
  background-color: var(--tercerColor);
}

.sql {
  font-weight: bold;
  color: lightblue;
  border: 2px solid lightblue;
  border-radius: 50px;
  background-color: var(--tercerColor);
}

.net {
  color: purple;
  font-weight: bold;
  border: 2px solid purple;
  border-radius: 50px;
  background-color: var(--tercerColor);
}

.javaScript {
  color: gold;
  font-weight: bold;
  border: 2px solid gold;
  border-radius: 50px;
  background-color: var(--tercerColor);
}

.nodeJs {
  color: lightgreen;
  font-weight: bold;
  border: 2px solid lightgreen;
  border-radius: 50px;
  background-color: var(--tercerColor);
}

.css {
  color: lightblue;
  font-weight: bold;
  border: 2px solid lightblue;
  border-radius: 50px;
  background-color: var(--tercerColor);
}

.html {
  color: orange;
  font-weight: bold;
  border: 2px solid orange;
  border-radius: 50px;
  background-color: var(--tercerColor);
}

.message {
  font-size: 1.5rem;
  padding: 0 4rem;
  text-align: center;
  color: #ff0066;
  font-weight: 100;
}

/* PORTAFOLIO */
.portafolio {
  width: 100%;
  height: auto;
}

.boxContainerPortafolio {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 30px;
}

.boxUp {
  height: auto;
  width: 30%;
}

.boxCenter {
  height: auto;
  width: 30%;
}

.boxDown {
  height: auto;
  width: 30%;
}

.boxProject {
  width: 100%;
  height: auto;
}

.up {
  transform: scale(.6);
}

.center {
  transform: scale(1.1);
}

.down {
  transform: scale(.6);
}

.boxProject video {
  object-fit: contain;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 24px 1px #ff0066;
  border-radius: 15px;
}

/* CONTACTO */
.contacto {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--firstColor);
  padding: 40px;
  font-weight: bold;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .firstView {
    height: 100dvh;
  }

  .name {
    padding: 2rem 2rem;
  }

  .nameUp {
    font-size: 1rem;
  }

  .boxNav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1%;
  }

  .navBar {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navBar ul li {
    padding: 5px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navBar * a {
    font-size: 1rem;
    padding: 0.3rem;
    text-align: center;
  }

  /* Sobre mi */
  .sobreMi {
    width: 100%;
    height: 100dvh;
    padding: 20px;
  }

  .name2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    padding: 0 2rem;
  }

  .cargo {
    font-size: 1.3rem;
    text-align: center;
  }

  .description {
    font-size: 1.3rem;
  }

  .boxSkills span {
    width: 40%;
    height: auto;
  }

  .message {
    font-size: 1.4rem;
  }

  .portafolio {
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  .boxContainerPortafolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .boxProject video {
    box-shadow: 0 0 10px 1px #ff0066;
  }

  .boxUp {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boxCenter {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boxDown {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* CONTACTO */
  .contacto {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondColor);
  }

  .phone {
    font-size: 3rem;
  }

  footer {
    font-size: 1rem;
  }
}